:root {
    --popup-size-width: 400px;
}

popup {
    background: var(--body-bg-color);
    background: linear-gradient(315deg, var(--body-gradient-start) 0%, var(--body-gradient-end) 100%);
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0px;
    padding: 0;
    height: auto;
    width: var(--popup-size-width);
    border: solid var(--global-border-size) var(--global-border-color);
    z-index: 10001;
    opacity: 1;
    font-family: "Poppins", sans-serif;
}

popup .model {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

popup .footer {
    height: auto;
    padding-bottom: 20px;
}

popup .footer span.fileslist.active {
    color: var(--global-hover) !important;
}

popup.bug textarea {
    resize: none;
    overflow: auto;
}

popup.show {
    width: var(--popup-size-width) !important;
    opacity: 0.99 !important;
    box-shadow: 0 4px 10px var(--global-border-color);
    backdrop-filter: blur(310px);
    -webkit-backdrop-filter: blur(310px);
}

popup.hide {
    opacity: 0 !important;
    width: 0px !important;
}

popup .close {
    cursor: pointer;
    padding: 8px 14px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

popup .close:hover {
    background-color: #eb5b4b;
}

popup .risk {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ae2727;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

popup .risk:hover {
    background-color: #d85252;
}

popup .del {
    right: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #ae2727;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

popup .del:hover {
    background-color: #d85252;
}

popup upload fileslist {
    cursor: pointer;
}

popup upload ul.ulfileslist {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

popup upload .li.div {
    display: flex;
    height: auto;
}

popup upload span.fileslist {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    max-width: 300px;
    height: 100%;
}

popup upload .fileslist:hover {
    cursor: pointer;
    color: var(--text-color) !important;
    opacity: 0.6;
}

popup .head {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

popup .head h2 {
    position: relative;
    left: 10px;
    top: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

popup .element {
    height: auto;
    padding-top: 20px;
    left: 10px;
    width: calc(100% - 20px);
}

popup .footer {
    height: auto;
    padding-bottom: 20px;
}

popup .ok {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

popup .ok:hover {
    background-color: #2ecc71;
}


/* --------Start of Fileupload---------  */
popup .upload-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
}

popup .upload-button:hover {
    color: #f5f5f5;
}

popup .drop-zone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #aaa;
    cursor: pointer;
}

popup .drop-zone.dragover {
    border-color: #000;
    background-color: #f0f0f0;
}

popup .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

popup .dropZoneError {
    border: 1px solid;
    border-color: #ff1a1a;
    box-shadow: 0 0 15px 5px rgba(252, 20, 20, 0.7);
}

popup .h2 {
    text-align: center;
}

/* --------End of Fileupload---------  */

/* --------Start of Settings ---------  */
popup.settings #timezoneDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

popup.settings #dateformatDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

popup.settings #use12hClockDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    ;
}

popup.settings #timeFirstDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

popup.settings #offsetDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    ;
}

popup.settings label {
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
    padding-right: 15px;
}

popup.settings select {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
}

popup.settings select option {
    text-align: left;
}

popup.settings select:hover {
    background-color: #444444;
}

popup.settings select:focus {
    outline: none;
    border-color: #777777;
}

popup.settings select::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    color: #ffffff;
    pointer-events: none;
}


/* --------End of Settings---------  */

popup.bug .element textarea {
    border: 1px solid #1c1e29;
    background-color: #0707078a;
    outline: none;
    color: #ccc;
    display: block;
}

popup.bug .element textarea::placeholder {
    color: #cccccca6;
}

/* --------End of Bugreport --------  */


popup.help .element #markdownContent {
    border: 1px solid var(--bg-shade-light);
    background-color: hsla(0, 0%, 0%, 0.2);
    transition: background-color 0.3s, border-color 0.3s;
    height: 320px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

popup.help .element #markdownContent a {
    color: var(--text-color);
    text-decoration: none;
}

popup.help .element #markdownContent a:hover {
    color: var(--global-hover);
    text-decoration: underline;
}

popup.help .element #errorMessage {
    color: red;
    font-weight: bold;
}

/* --------End of Help --------  */


/* -------- Help-System V2 ---------  */
#help {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
    max-height: 80vh;
    padding: 20px;
    z-index: 10001;
    font-family: "Poppins", sans-serif;
    color: #fff;
    border: solid var(--global-border-size) var(--global-border-color);
    background: var(--body-bg-color);
    background: linear-gradient(315deg, var(--body-gradient-start) 0%, var(--body-gradient-end) 100%);
}

help.show {
    display: flex !important;
}

help.hide {
    display: none !important;
}

help .head {
    width: calc(100% - 20px);
    position: absolute;
    top: 10px;
}

help .head h2 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

help .model .close {
    cursor: pointer;
    padding: 8px 14px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

help .element {
    width: 80vw !important;
    top: 30px;
    bottom: 10px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(80vh - 30px);
}

help .element .md {
    height: auto;
    width: calc(100% - 20px);
    display: flex;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
help .element #tocBody {
    position: relative;
    width: 200px;
    height:  calc(80vh - 30px);
    overflow-y: hidden;
}

help .element #toc {
    width: 100%;
    padding-right: 10px;
    height: 100%;
    border-right: 1px solid #000000ab;
    overflow-y: auto;
}

help .element #markdownContent {
    width: calc(100% - 210px);
    padding: 0 20px;
    overflow-y: auto;
}

#markdownContent img {
    max-height: 400px;
    max-width: 400px;
    height: auto;
    margin: 10px;
}

help .element .toc-item {
    margin: 5px 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

help .element .toc-item:hover,
help .element .toc-subitem:hover {
    opacity: 0.6;
}

help .element .toc-item:not(:first-child) {
    border-top: 1px solid #ffffff4f;
    padding-top: 5px;
}

help .element .toc-subitem {
    margin: 2px 0 2px 5px;
    font-size: 0.9em;
    cursor: pointer;
    color: #ccc;

}

help .element .toc-subitem::before {
    content: "•";
    margin-right: 8px;
    color: #ccc;
}

help hr {
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.7;
    width: 100%;
    height: 3px;
    border: none;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
}


help code {
    background-color:  rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}