@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

/* alert Container */
#alert-container {
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 10px;
    right: 10px;
    /*left: 50%;         <<<<<<<--- center it if i want to later
    transform: translateX(-50%);   */
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

/* Base alert Style */
 .alert {
    min-width: 250px;
    max-width: 400px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    animation: slide-in 0.5s ease;
    opacity: 0.9;
    border: solid var(--global-border-size) var(--global-border-color);
    box-shadow: 0 4px 10px var(--global-border-color);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    position: relative;
}

/* Countdown Bar */
 .alert .countdown-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width linear;
    width: 100%;
}

/* alert Types */
 .alert-error {
    background-color: hsla(6, 78%, 57%, 0.85);
}

 .alert-warning {
    background-color: hsla(37, 90%, 51%, 0.85);
}

 .alert-success {
    background-color: hsla(145, 64%, 41%, 0.85);
}

 .alert-info {
    background-color: hsla(204, 70%, 53%, 0.85);
}

 .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-size: 24px;
    font-size: inherit;
    display: inline-flex; 
    vertical-align: middle;
    line-height: 1; 
    max-width: 25px;
    max-height: 25px;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(+30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(+30px);
    }
}