@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
}
:root {
    --record-bg-color: #2222224d;
    --record-shadow-color: #000;
    --comm-bg-color: #333333e8;
    --comm-bg-infos: #222;
    --comm-text-color: #e5e5e5;
    --comm-border-color: #555;
  }

  .comm-material-symbols-outlined{
    font-family: 'Material Symbols Rounded';
    font-size: 15px;
    width: 10px;
  }

  .record {
    background: var(--record-bg-color);
    box-shadow: 0 5 5px var(--record-shadow-color);
    width: 330px;
    min-height: 70px;
    margin-left: 6px;;
    margin-top: 10px;
    padding: 0px;
    border-radius: 0px 0px 0px 8px;
  
  }
  
  .colorBar {
    width: 100%;
    height: 1px;
    text-align: center;
    background-color: #000;
 

  }
  
  .commTo {
    border-radius: 0px 0px 0px 0px;
    width: calc(100% - 0px);
    height: auto;
    background: var(--comm-bg-color);
    background: radial-gradient(circle, rgba(41, 41, 41, 0.733) 76%, rgb(29, 29, 29) 100%);
    float: left;
  }
  
  .commTo p {
    font-size: 16px;
    font-weight: 800;
    color: var(--comm-text-color);
    float: left;
    line-height: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  
  ul.commInfos {
    border-radius: 0px 0px 0px 8px;
    margin: 0;
    padding: 0;
    height: 28px;
    background: var(--comm-bg-infos);
    background: linear-gradient(0deg, rgba(13,13,13,0.9402135854341737) 0%, rgba(36,35,36,0.9486169467787114) 50%);
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 0px);
    display: flex;
    justify-content: flex-end;
  }
  
  ul.commInfos li {
    padding: 0px 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 23px;
    white-space: nowrap; 
    color: #fff;
    font-size: 14px;
    border-top: 1px solid var(--comm-border-color);
    border-right: 1px solid var(--comm-border-color);
  }
  ul.commInfos li *{
    display: inline;
    width: 100%;
  }

  ul.commInfos li.number {
    padding-bottom: 0px;
  }
  
  
  ul.commInfos li:first-child {
  
    flex-grow: 1; /* First li takes up all remaining space */
    text-align: left; /* Align text to the left for the first li */
  }
  
  ul.commInfos li:not(:first-child) {
    width: 70px;
    flex-shrink: 0; /* Prevent shrinking of other li elements */
  }
  
  ul.commInfos li:last-child {
    padding: 0px 10px;
    border-right: none;
  }
  
  