 /* --------Start of Sidemenu---------  */


.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-size: 50px;
    }

    .material-symbols-rounded {
        font-size: 50px;
        font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48
    }

    .menu-top,
    .menu-bottom {
        color: #42375a;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.2em;
    }
    span{
        padding-bottom: 20px;
    }

    .menu-bottom {
        margin-top: auto;
    }

    a {
        color: #69617e;
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #d4a5ff;
        cursor: pointer;
        animation: fade 0.5s ease infinite alternate;
    }

    a::after {
        content: attr(data-alt);
        font-size: 16px;
        position: absolute;
        bottom: calc(100% - 8px);
        right: 50px;
        background-color: #333333;
        color: #ffffff;
        padding: 5px;
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    a:hover::after {
        opacity: 1;
    }
}



