body {
    font-family: 'Arial', sans-serif;
    background-color: #35384f;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
    margin-bottom: 20px;
}

/* Sidebar for chat list */
.sidebar {
    width: 350px;
    min-width: 350px;
    background-color: #35384f;
    display: flex;
    flex-direction: column;
}

.header-sidebar {
    padding: 21px;
    background-color: #292c3d;
    color: #aebac1;
    text-align: center;
    font-size: 1.2em;
}

.chat-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #191e28;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.chat-list-item:hover {
    background-color: #222b3c;
}

.chat-list-item .chat-info {
    flex-grow: 1;
}

.chat-list-item .chat-info .name {
    font-weight: bold;
}

.chat-list-item .chat-info .message-preview {
    color: #aebac1;
    font-size: 0.9em;
}

.chat-list-item .time {
    font-size: 0.8em;
    color: #aebac1;
}

/* Chat container */
.chat-container {
    width: 100% !important;
    background-color: #11151d;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px;
    background-color: #292c3d;
    color: #aebac1;
    display: flex;
    align-items: center;
}

.chat-header .chat-info {
    flex-grow: 1;
}

.chat-header .chat-info .name {
    font-weight: bold;
    color: #ffffff;
}

.chat-header .chat-info .status {
    font-size: 0.9em;
    color: #aebac1;
}

/* Phonebook container */
.phonebook-container  {
    width: 20%;
    background-color: #292c3d;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    z-index: 10;
    display: none;
}
.header-phonebook {
    padding: 21px;
    background-color: #292c3d;
    color: #aebac1;
    text-align: center;
    font-size: 1.2em;
 
}
.header-phonebook > a {
    cursor: pointer;
    font-size: 1.2em;
}
.phonebook-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.phonebook-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #191e28;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.phonebook-list-item:hover {
    background-color: #222b3c;
}

.phonebook-list-item .phonebook-info {
    flex-grow: 1;
}

.phonebook-list-item .phonebook-info .name {
    font-weight: bold;
}

.phonebook-list-item .phonebook-info .message-preview {
    color: #aebac1;
    font-size: 0.9em;
}

.phonebook-list-item .time {
    font-size: 0.8em;
    color: #aebac1;
}


/* Message box */
.message-box {
    padding: 15px;
    padding-right: 30px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 50%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    word-wrap: break-word;
}

.message.from {
    align-self: flex-start;
    background-color: #292c3d;
    color: #ffffff;
}

.message.to {
    align-self: flex-end;
    background-color: #35384f;
    color: #ffffff;
}

.timestamp {
    text-align: right;
    font-size: 0.8em;
    color: #aebac1;
    margin-top: 5px;
}

.number {
    text-align: right;
    font-size: 0.6em;
    color: #aebac1;
    margin-top: 5px;
    font-weight: bold;
}

.duplicate {
    background-color: #b9181881;
    opacity: 1;
    animation: fade 5s infinite ;
}

.togglePhonebook {
    position: fixed;
    top: 50%;
    right: -85px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    font-size: 1.2em;

    a {
        border-color: #11151d;
        background: #35384f;
        text-decoration:none; 
        border-radius: 50%;
        display: block;
        height: 80px;
        width: 80px;
        opacity: 0.5;
    }
    a::after {
        content:"\2190";   
        display: block;
        color: white;
        font-weight: bold;
        font-size: 60px; 
        text-align: center;
        opacity: 1;
    }

    a:hover {
        border-color: #11151d;
        background: #575d85;
        text-decoration:none; 
        border-radius: 50%;
        display: block;
        opacity: 1;
        animation: bounce 2s infinite ;
    }
}

footer {
    text-align: center;
    font-size: 12px;
    background-color: #35384f;
    color: white;

    a {
        color: #d4a5ff;
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease;
    }
    
    a:hover {
        color: #fff;
    }
    
    a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #d4a5ff, transparent);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    a:hover::after {
        opacity: 1;
    }   
}


@keyframes fade {
    0%,100% { opacity: 0.5 }
    50% { opacity: 1 }
}

@keyframes bounce {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(-20px); }
  100% { transform: translatex(0); }
}