#imagePreview, #phonenumberFound {
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    color: #d4a5ff;
    max-width: 300px;
    max-height: 300px;
    z-index: 1000;
}

#phonenumberFound {
    background-color: #292c3d;
    border: none;
    border-radius: 3px;
    padding: 3px;
}

.message .phonenumber {
    color: #a169a1;
    position: relative;
    display: inline-flex;
    font-weight: 700;
    text-decoration: underline dotted rgba(255, 255, 255, 0.281);
    white-space:nowrap;
    &::before{
        display: none;
    }
    &::after {
        background-color: #333333;
        color: #ffffff;
        opacity: 0;
        border-radius: 3px;
    }

    &:hover::after {
        position: absolute;
        display: inline-flex;
        content: attr(data-name);
        opacity: 1;
        padding: 6px 6px;
        margin: 6px 6px;
        border: 1px solid #774d77;
        margin-top: -5px;
        margin-left: -20px;
        z-index: 10;
        white-space:nowrap;
    }
       
} 

#errorMessagePIC {
    position: absolute;
    display: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgb(75, 3, 3);
    border: 1px solid red;
    padding: 5px;
    z-index: 1000;
}

.message {
    a {
        border-color: #11151d;
        background: #35384f;
        text-decoration: none;
        color: white;
    }


    a:hover {
        border-color: #11151d;
        background: #575d85;
        text-decoration: none;
    }
}
