body {
    visibility: visible;
    height: auto !important;
}

container {
    page-break-inside: avoid;
    height: auto !important;
    width: 100% !important;
    overflow: auto;
}

.output .messages {
    max-height: 100% !important;
}

container .grid-wrapper {
    overflow: visible !important;
}
.spacer {
    padding: 30px;
    margin: 30px;
    height: 30px;
}
@media print {
    .page {
        page-break-after: always;
    }
}