:root {
    --popup-size-width: 400px;
}

popup {
    background: var(--body-bg-color);
    background: linear-gradient(315deg, var(--body-gradient-start) 0%, var(--body-gradient-end) 100%);
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0px;
    padding: 0;
    height: auto;
    width: var(--popup-size-width);
    border: solid var(--global-border-size) var(--global-border-color);
    z-index: 10001;
    opacity: 1;
    font-family: "Poppins", sans-serif;
}

popup .model {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

popup.import_npll textarea,
popup.import_np textarea,
popup.import textarea {
    resize: none;
    overflow: auto;
}

popup.activity {
    width: 500px !important;
}

popup.show {
    width: var(--popup-size-width);
    opacity: 0.99 !important;
    box-shadow: 0 4px 10px var(--global-border-color);
    backdrop-filter: blur(310px);
    -webkit-backdrop-filter: blur(310px);
}

popup.hide {
    opacity: 0 !important;
    width: 0px !important;
}

popup .model .close {
    cursor: pointer;
    padding: 8px 14px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

popup .model .close:hover,
help .model .close:hover {
    background-color: #eb5b4b;
}

popup .head {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

popup .head h2 {
    position: relative;
    left: 10px;
    top: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

popup .element {
    height: auto;
    padding-top: 20px;
    left: 10px;
    width: calc(100% - 20px);
}

popup .footer {
    height: auto;
    padding-bottom: 20px;
}

popup .footer span.fileslist.active {
    color: var(--global-hover) !important;
}

popup .ok {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

popup .ok:hover {
    background-color: #2ecc71;
}

popup .risk {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ae2727;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

popup .risk:hover {
    background-color: #d85252;
}

popup .np {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

popup .np:hover {
    background-color: #2ecc71;
}

popup .swap {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px 20px;
    background-color: #0f50c7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

popup .swap:hover {
    background-color: #5080d7;
}

popup .del {
    right: 0;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #ae2727;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    display: flex;
}

popup .del:hover {
    background-color: #d85252;
}

popup upload .uploadList {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

popup upload .simownerName,
popup upload .ownerItemEntry {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-align: 'end';
}

popup upload .listEntry {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

popup upload .listEntry {
    width: 100%;
    margin-bottom: 10px;
}

popup upload .simownerDiv:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff18;
    margin-bottom: -10px;
}

popup upload .listEntry:first-child {
    margin-top: 10px;
}

popup upload .listEntry .delDiv {
    width: 30px;
    padding-left: 10px;
}

popup upload .listEntry .nameDiv {
    padding-left: 10px;
    margin-left: 0px;
    font-size: small;
    height: 100%;
    width: 300px;
}

popup upload .listEntry .nameDiv {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

popup upload .listEntry .nameDiv:before {
    font-family: 'Material Icons Outlined';
    content: "description";
    margin-right: 3px;
    color: #c9c9c9;
    display: inline-flex;
    vertical-align: middle;
    font-size: 20px;
}

popup upload .uploadList .simownerDiv:not(:first-child) .simownerName {
    margin-top: 25px;
}

popup upload .simownerName:hover {
    cursor: pointer;
    color: var(--text-color) !important;
    opacity: 0.6;
}

popup upload .nameDiv:hover {
    cursor: pointer;
    color: var(--text-color) !important;
    opacity: 0.6;
}

popup upload .simownerName.active {
    color: var(--global-hover) !important;
}

popup upload .listEntry.active {
    color: var(--global-hover) !important;

    .nameDiv:before {
        color: var(--global-hover);
    }
}

popup upload .error-message {
    color: #e74d3cc0;
    margin-top: 8px;
    display: none;
    flex-direction: column;
}

popup upload input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    color: var(--text-color);
    border: 1px solid var(--global-border-color);
    background: var(--bg-shade-light);
    outline: none;
    font-family: "Poppins", sans-serif;
}

popup upload .errorList,
popup upload #errorMessage {
    font-size: small;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

popup upload .errorList {
    padding-left: 25px;
}

popup upload input::placeholder {
    color: var(--bg-shade-mid);
}

popup .risk.hide,
popup .ok.hide,
popup .np.hide {
    opacity: 0;
    display: none;
}

popup .risk.show,
popup .ok.show,
popup .np.show {
    opacity: 1;
    display: inline;
}

/* --------Start of Fileupload---------  */
popup .upload-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
}

popup .upload-button:hover {
    color: #f5f5f5;
}

popup .drop-zone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #aaa;
    cursor: pointer;
}

popup .drop-zone:hover {
    color: #ccc;
    border: 2px dashed #aaa;
}

popup .drop-zone.dragover {
    border-color: #000;
    background-color: #f0f0f0;
}

popup .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

popup .dropZoneError {
    border: 1px solid;
    border-color: #ff1a1a;
    box-shadow: 0 0 15px 5px rgba(252, 20, 20, 0.7);
}

popup .h2 {
    text-align: center;
}

/* --------End of Fileupload---------  */

/* --------Start of Settings ---------  */
popup.settings #timezoneDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

popup.settings #dateformatDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

popup.settings #use12hClockDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    ;
}

popup.settings #timeFirstDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

popup.settings #offsetDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    ;
}

popup.settings #dlsDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    ;
}

popup.settings label {
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
    padding-right: 15px;
}

popup.settings select {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
}

popup.settings select option {
    text-align: left;
}

popup.settings select:hover {
    background-color: #444444;
}

popup.settings select:focus {
    outline: none;
    border-color: #777777;
}

popup.settings select::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    color: #ffffff;
    pointer-events: none;
}

/* --------End of Settings---------  */
popup.bug {
    max-width: 535px;
    width: 100%;
}

popup.bug .element #issueForm .reportDiv {
    margin-bottom: 15px;
}

popup.bug .element #issueForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
}

popup.bug .element #issueForm .input-field,
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--global-border-color);
    background-color: var(--bg-shade-mid);
    color: #ffffff;
    box-sizing: border-box;
}

popup.bug .element #issueForm .input-field:required,
popup.bug .element #issueForm select:required,
popup.bug .element #issueForm textarea:required {
    border-color: var(--global-border-color);
}

popup.bug .element #issueForm .tag-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

popup.bug .element #issueForm .tag {
    display: inline-flex;
    align-items: center;
    padding: 4px 7px;
    border-radius: 16px;
    background-color: var(--bg-shade-light);
    border: 1px solid var(--global-border-color);
    color: #ccc;
    cursor: pointer;
    opacity: 0.4;
    font-weight: bold;
}

popup.bug .element #issueForm .tag.selected {
    opacity: 1;
    background-color: var(--bg-shade-mid);
    color: #fff;
}

popup.bug .element #issueForm .tag:hover,
popup.bug .element #issueForm .tag.selected:hover {
    opacity: 0.8;
    background-color: var(--bg-shade-mid);
    color: #fff;
}

popup.bug .element #issueForm textarea {
    height: 100px;
    resize: none;
}

popup.bug .element #issueForm .error-message {
    margin-top: 10px;
    color: #ff4d4d;
    margin-bottom: 10px;
    font-size: 0.9em;
    justify-content: center;
}

popup.bug .element #issueForm .disclaimer {
    font-size: 0.8em;
    color: #b9bbbe;
    margin-top: 10px;
}

popup.bug .element #issueForm .button {
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

popup.bug .element #issueForm button {
    padding: 12px 20px;
    background-color: #27ae60;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

popup.bug .element #issueForm button:hover {
    background-color: #2ecc71;
}

/* --------End of Bugreport --------  */
popup.help .element #markdownContent {
    border: 1px solid var(--bg-shade-light);
    background-color: hsla(0, 0%, 0%, 0.2);
    transition: background-color 0.3s, border-color 0.3s;
    height: 320px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

popup.help .element #markdownContent a,
popup.help .element #markdownContent a:visited {
    color: var(--text-color);
    text-decoration: underline;
}

popup.help .element #markdownContent a:hover {
    color: var(--global-hover);
    text-decoration: underline;
}

popup.help .element #errorMessage {
    color: red;
    font-weight: bold;
}

help .element #markdownContent a,
help .element #markdownContent a:visited {
    color: var(--text-color);
    text-decoration: underline;
}

help .element #markdownContent a:hover {
    color: var(--global-hover);
    text-decoration: underline;
}

help .element #errorMessage {
    color: red;
    font-weight: bold;
}

/* --------End of Help --------  */
popup.import_npll .element #importernp,
popup.import_np .element #importernp,
popup.import .element .importer {
    display: flex;
    margin-top: 10px;
    color: #ccccccb6;
    border: 1px solid #1c1e29;
    background-color: #0707078a;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 170px;
}

popup.import_npll .element .importer__textarea,
popup.import_np .element .importer__textarea,
popup.import .element .importer__textarea {
    border: none;
    outline: none;
    background-color: #0707078a;
    color: #ccc;
    overflow: auto;
}

popup.import_npll .element .importer__textarea,
popup.import_np .element .importer__textarea,
popup.import .element .importer__textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

@supports (-moz-appearance: none) {

    popup.import_npll .element .importer__textarea,
    popup.import_np .element .importer__textarea,
    popup.import .element .importer__textarea {
        white-space: normal;
    }
}

popup.import_npll .element .importer__textarea::placeholder,
popup.import_np .element .importer__textarea::placeholder,
popup.import .element .importer__textarea::placeholder {
    white-space: pre-wrap;
}

popup.import .element .importer__lines {
    border-right: 1px solid rgba(255, 255, 255, 0.719);
    min-width: 20px;
    padding: 0;
    margin: 0;
    padding-right: 5px;
    text-align: right;
    overflow: hidden;
    font-size: 11px;
}

popup.import .element textarea::placeholder {
    color: #cccccca6;
}

/* --------End of Phonebook Import --------  */

/* Container styles */
.activity {
    width: 100%;
    margin: 50px auto;
    text-align: center;

    .chart-container {
        position: relative;
        height: auto;
        width: 100%;
    }

    .chart-container .loading-message {
        text-align: center;
        text-wrap: wrap;
    }

    #time-range-output {
        margin-top: 20px;
        font-size: 1.2em;
        font-weight: bold;
        color: #4e4e4e;
    }

}

/* --------End of Events---------  */

/* -------- Help-System V2 ---------  */
#help {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
    max-height: 80vh;
    padding: 20px;
    z-index: 10001;
    font-family: "Poppins", sans-serif;
    color: #fff;
    border: solid var(--global-border-size) var(--global-border-color);
    background: var(--body-bg-color);
    background: linear-gradient(315deg, var(--body-gradient-start) 0%, var(--body-gradient-end) 100%);
}

help.show {
    display: flex !important;
}

help.hide {
    display: none !important;
}

help .head {
    width: calc(100% - 20px);
    position: absolute;
    top: 10px;
    display: flex;
}

help .head h2 {
    position: relative;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

}

help .icon {
    font-family: 'Material Icons Outlined';
    width: 26px;
    height: 26px;
    font-size: 26px;
    color: var(--text-color);
    overflow: hidden;
    z-index: 2;
}

help .icon-container {
    margin-left: -10px;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-shade-search);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--global-border-color);
    padding-right: 10px;
}

help .model .close {
    cursor: pointer;
    padding: 8px 14px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

help .element {
    width: 80vw !important;
    top: 30px;
    bottom: 10px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(80vh - 30px);
}

help .element .md {
    height: auto;
    width: calc(100% - 20px);
    display: flex;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

help .element #tocBody {
    position: relative;
    width: 200px;
    height: calc(80vh - 30px);
    overflow-y: hidden;
}

help .element #toc {
    width: 100%;
    padding-right: 10px;
    height: 100%;
    border-right: 1px solid #000000ab;
    overflow-y: auto;
}

help .element #markdownContent {
    width: calc(100% - 210px);
    padding: 0 20px;
    overflow-y: auto;
}

#markdownContent img {
    max-height: 400px;
    max-width: 400px;
    height: auto;
    margin: 10px;
}

help .element .toc-item {
    margin: 5px 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

help .element .toc-item:hover,
help .element .toc-subitem:hover {
    opacity: 0.6;
}

help .element .toc-item:not(:first-child) {
    border-top: 1px solid #ffffff4f;
    padding-top: 5px;
}

help .element .toc-subitem {
    margin: 2px 0 2px 5px;
    font-size: 0.9em;
    cursor: pointer;
    color: #ccc;
}

help .element .toc-subitem::before {
    content: "•";
    margin-right: 8px;
    color: #ccc;
}

help hr {
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.7;
    width: 100%;
    height: 3px;
    border: none;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
}


help code {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

help .icon {
    font-family: 'Material Icons Outlined';
    width: 26px;
    height: 26px;
    font-size: 26px;
    color: var(--text-color);
    overflow: hidden;
    z-index: 2;
}

help .icon-container {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-shade-search);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--global-border-color);
}

/* --------phonebook v2---------  */

popup.phonebook {
    width: 900px !important;
}

popup.phonebook .model .element {
    height: 490px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

popup.phonebook .model .element .phonebook,
popup.phonebook .model .element .uploader {
    height: 100%;
}

popup.phonebook .model .element .phonebook {
    width: 600px;
}

popup.phonebook .model .element .uploader {
    width: 100%;
}

popup.phonebook .model .element .phonebook #contacts-list .contact {
    flex-direction: column;
}

popup.phonebook .model .element .phonebook #contacts-list {
    height: calc(100% - 60px);
    overflow-y: scroll;
}

popup.phonebook .model .element .phonebook #contacts-list .userContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

popup.phonebook .model .element .phonebook #contacts-list .userContact .contact {
    width: calc(100% - 110px);
    text-align: center;
    line-height: 1.2;
    overflow: hidden;
    display: block;
}

popup.phonebook .model .element .phonebook #contacts-list .userContact .contact .contact-number {
    padding-top: 7px;
    line-height: 1.2;
    display: block;
}

popup.phonebook .model .element .phonebook #contacts-list .userContact .contact .contact-name {
    width: 100%;
    max-width: 250px;
    overflow: hidden;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

popup.phonebook .model .element .phonebook .buttonbox {
    display: flex;
    min-width: 30px;
    padding-left: 10px;
}

popup.phonebook .model .element .phonebook #confirm-dialog,
popup.phonebook .model .element .phonebook #edit-dialog,
popup.phonebook .model .element .phonebook #add-contact {
    position: fixed;
    font-family: "Poppins", sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

popup.phonebook .model .element .phonebook #add-contact p.label {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

popup.phonebook .model .element .phonebook #add-contact p.label.small {
    font-size: 14px;
}

popup.phonebook .model .element .phonebook #add-contact #error-message {
    color: red;
    font-size: 14px;
    width: 200px;
}

popup.phonebook .model .element .phonebook #edit-dialog #edit-input,
popup.phonebook .model .element .phonebook #add-contact #contact-name,
popup.phonebook .model .element .phonebook #add-contact #contact-number {
    padding: 10px 20px;
    background-color: var(--bg-shade-search);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--global-border-color);
    color: #ccc;
}

popup.phonebook .model .element .phonebook #edit-dialog #edit-input:focus,
popup.phonebook .model .element .phonebook #edit-dialog #edit-input:focus,
popup.phonebook .model .element .phonebook #add-contact .input:focus,
popup.phonebook .model .element .phonebook #add-contact .input:active {
    color: #fff;
    background-color: var(--bg-shade-search);
    border: 2px solid var(--global-border-color);
}

popup.phonebook .model .element .phonebook hr {
    margin: 0;
    padding: 0;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.7;
    height: 3px;
    border: none;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
}

popup.phonebook .model .element .phonebook .contact:last-child hr {
    height: 0px;
}

popup.phonebook .model .element .phonebook #confirm-content,
popup.phonebook .model .element .phonebook #add-contact .contact {
    background: var(--body-bg-color);
    background: linear-gradient(315deg, var(--body-gradient-start) 0%, var(--body-gradient-end) 100%);
    border: solid var(--global-border-size) var(--global-border-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px var(--global-border-color);
}

popup.phonebook .model .element .phonebook #confirm-content p#confirm-message {
    overflow: hidden;
    max-width: 600px;
    max-height: 150px;
    text-overflow: ellipsis;
}

popup.phonebook .model .element .phonebook .buttonbox button {
    right: 0;
    margin-right: 5px;
    padding: 7px 7px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    display: flex;
}

popup.phonebook .model .element .phonebook .buttonbox button.check {
    background-color: #274bae;
}

popup.phonebook .model .element .phonebook .buttonbox button.check:hover {
    background-color: #2e58cc;
}

popup.phonebook .model .element .phonebook .buttonbox button.edit {
    background-color: #27ae60;
}

popup.phonebook .model .element .phonebook .buttonbox button.edit:hover {
    background-color: #2ecc71;
}

popup.phonebook .model .element .phonebook .buttonbox button.del {
    background-color: #ae2727;
}

popup.phonebook .model .element .phonebook .buttonbox button.del:hover {
    background-color: #d85252;
}

popup.phonebook .model .element .phonebook .buttonbox button .material-icons {
    font-family: 'Material Icons Outlined';
}

popup.phonebook .model .search {
    display: flex;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

popup.phonebook .model .search #search-bar {
    line-height: 1.4;
    align-items: center;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    height: 27px;
    padding-left: 20px;
    border-radius: 13px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: var(--bg-shade-search);
    color: white;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    border: solid var(--global-border-size) var(--global-border-color);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.466);
}

popup.phonebook .model .element .uploader {
    padding-left: 10px;
    overflow: auto;
    font-family: "Poppins", sans-serif;
}

popup.phonebook .model .element .uploader .body {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

popup.phonebook .model .element .uploader .body .card {
    background-color: var(--bg-shade-search);
    display: flex;
    border-radius: 17px;
    color: #ffffffc2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

popup.phonebook .model .element .uploader .body .card.half {
    width: 220px;
    height: 160px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin: 10px;
}

popup.phonebook .model .element .uploader .body .card.full {
    width: 440px;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

popup.phonebook .model .element .uploader .body .card.half span {
    text-align: center;
    font-size: small;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

popup.phonebook .model .element .uploader .body .card.full span {
    text-align: center;
    font-size: small;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

popup.phonebook .model .element .uploader .body .card.half smaller {
    padding: 0;
    margin: 0;
    font-size: 9px;
    font-weight: 900;
    color: rgb(212, 4, 4);
    opacity: 0.6;
}

popup.phonebook .model .element .uploader .body .card.half img {
    padding-top: 20px;
    height: 100px;
    width: auto;
    opacity: 0.4;
}

popup.phonebook .model .element .uploader .body .card.full img {
    height: 50px;
    width: auto;
    opacity: 0.4;
    padding-right: 5px;
}

popup.phonebook .model .element .uploader .body a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

popup.phonebook .model .element .uploader .body a:hover {

    .card.half img,
    .card.full img {
        opacity: 0.6;
    }

    .card.half span,
    .card.full span {
        color: #fff;
    }

    .card.half smaller,
    .card.full smaller {
        opacity: 0.7;
        color: red;
    }
}

popup.import_np_new .numberAddList {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: normal;
    line-break: auto;
    color: var(--speechbubble-text);
}

popup.import_np_new ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    list-style: none;
}

popup.import_np_new hr {
    display: block;
    position: relative;
    opacity: 0.7;
    height: 3px;
    border: none;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
}

popup.import_np_new li.numberList {
    margin-right: 4px;
    padding: 8px;

}

popup.import_np_new li.numberList:nth-child(odd) {
    background-color: var(--bg-shade-light);
    color: var(--speechbubble-text);
    border: 1px solid var(--speechbubble-border-color);
}

popup.import_np_new li.numberList:nth-child(even) {
    background-color: var(--bg-shade-light);
    color: var(--speechbubble-text);
    border: 1px solid var(--speechbubble-border-color);
}

popup.import_np_new ul.recordListFound,
popup.import_np_new ul.recordListFound li {
    padding-left: 0px;
    list-style: circle;
    margin-left: 10px;
}

popup.phonebook .model .element .phonebook #search-dialog {
    position: fixed;
    font-family: "Poppins", sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

popup.phonebook .model .element .phonebook #search-dialog #search-result {
    width: 100%;
    max-width: 400px;
}

popup.phonebook .model .element .phonebook #search-dialog ul.recordListFoundSolo {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    white-space: normal;
    line-break: auto;
}

popup.phonebook .model .element .phonebook #search-dialog li {
    list-style-type: disc;
    margin: 20px;
    padding: 0px;
}